<head>
    <style type="text/css">
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
    </style>
</head>
<div class="row">
<div class="col-sm-12" "align-center">
        <IMG class="displayed" src="/images/slide2.png">
         <IMG class="displayed" img style="height: 250px; width: 300px;"src="/images/won.png">
</div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p class="text-center">

<ul class="pager">
  <li><a href="home#index">Home</a></li>
  <li><a href="/game/play_intermediate">Level Up</a></li>
</ul>
