<script>
$(function() {
   $('#flash').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
   });
});

</script>

<head>
    <style type="text/css">
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
    </style>
</head>
<div class="row">
<div class="col-sm-12" "align-center">
        <IMG class="displayed" src="/images/slide4.png">
</p>
</div>
</div>
<p class="text-center">
What block comes next?
</p>
<div class="row">
  <div class="col-sm-12">
    <p class="text-center">

     </button><a href="/game/play_beginner/2?answer_incorrect"><button type="incorrect" class="btn" >input</a></button>
     </button><a href="/game/play_beginner/3?answer=correct"><button type="button" class="btn" >output</a></button>
    </button><a href="/game/play_beginner/2?answer=incorrect"><button type="preview_button" class="btn" >show</a></button>
    </button> <a href="/game/play_beginner/2?answer=incorrect"><button type="preview_button" class="btn" >make</a></button>
    </button><a href="/game/play_beginner/2?answer=incorrect"><button type="incorrect" class="btn" >up</a></button>
     </button><a href="/game/play_beginner/2?answer=incorrect"><button type="incorrect" class="btn" >down</a></button>
       </button><a href="/game/play_beginner/2?answer=incorrect"><button type="incorrect" class="btn" >high</a></button>
       </button><a href="/game/play_beginner/2?answer=incorrect"><button type="incorrect" class="btn" >on</a></button>
        </button><a href="/game/play_beginner/2?answer=incorrect"><button type="incorrect" class="btn" >off</a></button>
        </button><a href="/game/play_beginner/2?answer=incorrect"><button type="incorrect" class="btn" >rgb</a></button>
        </button><a href="/game/play_beginner/2?answer=incorrect"><button type="incorrect" class="btn" >make</a></button>
    </p>



</div>
