<div class="page-header">
<h1 class="custom text-center">
 Flashing Lights
  </h1>
 <h2 class="custom text-center">
We want to code the lights in the bracelet.</h2>

 <style type="text/css">
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
    </style>
</head>
<div class="row">
<div class="col-sm-12" "align-center">
        <IMG class="displayed" src="/images/slide5.png">
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
<div class= "container">
<form class="form-horizontal">
  <fieldset>
    <legend> Pick the Blocks to complete the code in order</legend>
      <label for="select" class="col-lg-2 control-label">Select</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>rbg</option>
          <option>input</option>
          <option>make</option>
          <option>show</option>
          <option>do</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>output</option>
          <option>if</option>
          <option>else</option>
          <option>high</option>
          <option>low</option>
          </select>
        <br>
          <select multiple="" class="form-control">
          <option>color</option>
          <option>stop</option>
          <option>wait</option>
          <option>millisecs</option>
          <option>time</option>
        </select>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>

