<html>
<head>
<style type="text/css">
h1.custom {
    color: #9933FF;
    font-size: 70px;
    }
</style>
</head>

<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>

    <head>
    <style type="text/css">

    h2.custom {
    color: #9933FF;
    font-size: 30px;

}
</style>
</head>

<head>
    <style type="text/css">

    h3.custom {
    color: #9933FF;
    font-size: 20px;


}
</style>
</head>
</html>
<h1 class="custom text-center"><html>
<head>
<style type="text/css">
h1.custom {
    color: #9933FF;
    font-size: 70px;
    }
</style>
</head>

<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>
<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #9933FF; color: #F8F8FF;
}
.panel-body-custom {
    background: white; color: #9933FF;
}

</style>
</head>

    <head>
    <style type="text/css">

    h2.custom {
    color: #9933FF;
    font-size: 30px;

}
</style>
</head>
<head>
    <style type="text/css">
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px}
    </style>
</head>

<head>
    <style type="text/css">

    h3.custom {
    color: #9933FF;
    font-size: 20px;


}
</style>
</head>
</html>
<h1 class="custom text-center">Test Your Coding Knowledge!</h1>
<h2 class="custom text-center">In this fun game you get to build some of the codes you just learned. Win by completing the mission in as few tries as possible!
</h2>
<h2 class="custom text-center">Game Rules
<div class="row">
1.You will be give a series of block choices.
</div>
<div class="row">2.Pick the right blocks in the right order to collect points.
</div>
<div class="row">
3. You can't pause a game once you start playing. If you leave the game screen you have to start over again.
</div>
</h2>
<a href="/game/play_beginner"><IMG class="displayed" src="/images/start.png"></a>
