<html>
<head>
<style type="text/css">
h1.custom {
    color: #6699FF;
    font-size: 70px;
    }
</style>
</head>


<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #6699FF; color: #F8F8FF;
}
.panel-body-custom {
    background: lightgrey; color: #6699FF;
}

</style>
</head>
    <head>
    <style type="text/css">

    h2.custom {
    color: #6699FF;
    font-size: 30px;

}
</style>
</head>
<head>
    <style type="text/css">
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px}
    </style>
</head>
<head>
    <style type="text/css">

    h3.custom {
    color: #6699FF;
    font-size: 20px;


}
</style>
</head>
<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>
<h1 class="custom text-center">Basics</h1>
<h2 class="custom text-center">cStyle Bracelets are coming soon. Get ready by learning how to code them now!</h2>
<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightgrey}
</style>
</head>
<body>

</html>
<div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">What is cStyle?</h4>
   </div>
   <div class="panel-body panel-body-custom">
     <h3 class="custom text-center"><strong>Style is designed to teach you basic coding structure, like how do you start a line of code or what is the sequential order a of code? After learning cStyle you will understand the fundamentals of coding and can go on to learn more advanced programming languages.</strong></h3>
   </div>
   </div>
   <div class="row">
    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">How does it work?</h4>
   </div>
   <div class="panel-body panel-body-custom">
     <h3 class="custom text-center"><strong>PinkThink’s cStyle coding language is based on ladder logic programming. Ladder logic is used to develop software for programmable logic controllers (PLCs). A programmable controller is a digital computer that controls many different types of machinery. cStyle Bracelets have many different components that are controlled by a PLC that you tell what to do with the codes you write.
</strong></h3>
   </div>
      </div>
         </div>
    <div class="row">
   <div class="col-xs-6 col-sm-6"> <img style="height: 300px; width: 300px; margin: 0px 0px 0px 0px;"src="/images/basicspafe.png"></div>
  </div>
  <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Coding Structure</h4>
   </div>
   <div class="panel-body panel-body-custom">
     <h3 class="custom text-center"><strong>You should read code from left to right and top to bottom.</strong></h3>
     <h2 class="custom text-center"><strong>Sections</strong></h2>
<div class="input-append" align="center">
<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Here you state what hardware in your bracelet you want to code and define what characteristics you want it to have." data-original-title="Setup" title="">Learn More</button>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
    </div>
   <IMG class="displayed" src="/images/setup.png">
   <div class="row">
    <IMG class="displayed" src="/images/repeat.png"></div>
<div class="input-append" align="center">
<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" data-content="Here is where you tell the hardware you just defined what to do. This section is called repeat forever because unless you state otherwise, the code you write here to be repeated in an endlessly loop. Without a repeat forever section you would have to write the code over and over again. If you don’t want the code to keep repeating you can just tell it to stop.  
" data-original-title="Repeat Forever" title="">Learn More</button>
<h2 class="custom text-center"><strong>cStyle has 4 Building Blocks</strong></h2>
  </div>
<div class="row">
<img src ="/images/4.png">
</div>
 <div class="row">
<div class="col-xs-6 col-sm-3"><p class="text-primary text-center" <strong>
   Values are basically data. A value tells you information about the variable.</strong>
   </div>
 <div class="col-xs-6 col-sm-3"> <p class="text-primary text-center" <strong>In coding language a variable represents some specific thing or set of things. This thing is defined by the value you give it.</strong></p>
    </div>
  <div class="col-xs-6 col-sm-3"> <p class="text-primary text-center"<strong>
   Functions are action blocks. When this action block is powered, it tells the variable blocks what to do.</strong></p>
    </div>
   <div class="col-xs-6 col-sm-3">
   <p class="text-primary text-center"<strong>In programming logic is used to restrict your code. It sets up conditions your code has to follow in order for it to work. cStyle does this by using  “if” “then” and  “else”.</strong></p>
   <button type="button"<a id="popover" class="btn" rel="popover" data-content="" title="Logic Tree">See Logic</a></button>
<script>
        var image = '<img src="/images/iflogic.png">';
        $('#popover').popover({placement: 'right', content: image, html: true});
</script>
   </div>
   </div>
<h3 class="custom text-center"><strong>If you can form a sentence then you can start coding with cStyle!
<div class="row">
   You can think of variables as a noun that receives the action and usually follows the  function(verb). Values act similarly to adjectives and add meaning and modify the characteristics of variables (nouns). “If” “then” and “else” serve as our conjunctions and connect our code together.</strong></h3>
   </div>
   </div>
</div>
</div>

<ul class="pager">
  <li><a href="/learn/beginner_code">Next</a></li>
</ul>
