<html>
<head>
<html>

<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #6699FF; color: #F8F8FF;
}
.panel-body-custom {
    background: white; color: #6699FF;
}

</style>
</head>
<head>
<script>
$(function() {
   $('#flash').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
   });
});

</script>
</head>
<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>

<style type="text/css">
h1.custom {
    color: #6699FF;
    font-size: 70px;
    }
</style>
</head>


    <head>
    <style type="text/css">

    h2.custom {
    color: #6699FF;
    font-size: 30px;

}
</style>
</head>

<head>
    <style type="text/css">

    h3.custom {
    color: #6699FF;
    font-size: 20px;


}
</style>
</head>
</html>
<h1 class="custom text-center">Beginner Code</h1>
<h2 class="custom text-center">Turn the Lights On
</h2>
<div class = container>
 <div class="row">
<h3 class="custom text-center"><strong>
We want to code the the lights in the bracelet. They are red, green, blue (rgb) lights. When any of the 3 is at its highest it’s value is 255. When any of the 3 is at its lowest it’s  value is 0. By mixing different values, it's possible to create any color imaginable.</strong></h1>
</div>
  </div>
<div class = container>
<div class="row-fluid">
    <div class="col-xs-6 col-sm-4">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom">
   <img src="/images/slide6.png" class="img-responsive center-block"> Name what you want to code and define it. We need to define the lights as an output, meaning we want to give it information or tell it what to do. If we defined it as an input that would mean we want it to collect information or tell us something.

  </div>
  </div>
 </div>
 </div>
 <div class="col-xs-6 col-sm-4">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom">
   <img src="/images/slide1.png" class="img-responsive center-block">Let's create a color. Let’s say we want the bracelet to be teal. We create the color by  mixing different values for red, green and blue in that order.
 </div>
</div>
 </div>
</div>
 <div class="col-xs-6 col-sm-4">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 3</h4>
   <div class="panel-body panel-body-custom">
     <img src="/images/slide2.png" class="img-responsive center-block">
   We want the push the code to the hardware so we write show at the end of our code.
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<ul class="pager">
  <li><a href="/learn/intermediate_code">Next</a></li>
</ul>
